@import "../../app.scss";

.calculator {
  min-height: 600px;
  min-width: 400px;
  padding: 5px;
  overflow: hidden;
  border-radius: 20px;
  background-color: var(--calc-bg);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &__result {
    padding: 20px;
    &__exp {
      text-align: right;
      font-size: 45px;
    }
  }
  &__btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    button {
      border: 0;
      outline: 0;
      border-radius: 10px;
      font-size: 1.25rem;
      font-weight: 500;
      background-color: transparent;
      color: var(--txt-color);
      min-height: 80px;
      transition: color 0.2s linear;
      &:hover {
        color: crimson;
      }
      &.btn__op {
        color: var(--calc-btn-color);
        &:hover {
          color: crimson;
        }
      }
      &.btn__ac {
        grid-column: 1/3;
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  .calculator {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
}
svg {
  width: 35px;
}
.red {
  color: crimson !important;
}
